.loading {
  /* 中央寄せ */
  margin: 0 auto;

  /* 色　形　サイズ */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #AAC4FC;
  border-right-color: transparent;

  /* 回転アニメーション */
  animation: spin 0.5s linear infinite;
  -webkit- animation: spin 0.5s linear infinite;
}

.loading-progress {
  /* 中央寄せ */
  margin: 0 auto;
  width: 40px;
  height: 10px;
  color: #0E0791;
}

@keyframes spin
{
  0%   { transform: rotate(0deg);   }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
