* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

#droppable {
  height: 100%;
  width: 78%;
  margin-right: 2%;
}

#network {
  height: 100%;
  width: 80%;
}

#ranking {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  width: 20%;
  padding: 0 10px;
  border: solid 1px #CCC;
  border-radius: 5px;
  overflow-y: scroll;
}

.ranking-li {
  display: flex;
  flex-direction: row;
  height: 20px;
  padding: 1px 0;
  font-size: 0.8rem;
}

.ranking-occurence {
  width: 30%;
}

.ranking-text {
  width: 70%;
}

.ranking-line {
  margin: 1px 0;
  border-bottom: solid 1px #CCC;
}

.hide {
  display: none !important;
}
